[project]
name = "ltorres6-github-io"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "aiohttp>=3.13.2",
    "pre-commit>=4.4.0",
    "scholarly>=1.7.11",
]
