@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

:root {
  --background-color: #2e3a59;
  /* Slate Gray */
  --text-color: #a9a9a9;
  /* Soft Gray */
  --primary-color: #252424;
  /* Dark Charcoal */
  --accent-color: #d3d3d3;
  /* Light Gray */
  --resume-background-color: #2e3a59;
  /* Light background for resume readability */
  --resume-text-color: #333333;
  /* Dark text for readability */
}

body {
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
  transition: background 0.3s, color 0.3s;
}

header,
footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

button {
  background-color: var(--accent-color);
  color: var(--background-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--primary-color);
}

main {
  background: linear-gradient(
    0deg,
    var(--background-color) 0%,
    var(--primary-color) 100%
  );
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

h1,
h2 {
  color: var(--accent-color);
  font-size: clamp(1rem, 4vw, 2rem);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.center-content section {
  max-width: 1200px;
  /* Optional, to constrain the maximum width */
  margin: 20px 0;
}

.center-content h1 {
  margin-bottom: 20px;
}

.center-content h2 {
  margin-bottom: 10px;
}

.center-content iframe {
  width: 100%;
  height: 100vh;
  border: none;
  overflow: hidden;
}

.center-content iframe::-webkit-scrollbar {
  display: none;
}

.center-content iframe {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

/* Specific styles for the resume container */
.resume-container {
  background-color: var(--resume-background-color);
  color: var(--resume-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Center the resume container */
}

.resume-container .center-content {
  max-width: 1200px;
}

.resume-container h1,
.resume-container h2 {
  color: var(--accent-color);
}

/* Ensure the section handles overflow */
.resume-container section {
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  overflow-y: auto;
}

.education-card {
  background-color: var(--resume-background-color);
  color: var(--text-color);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.education-card h2 {
  margin-top: 0;
  color: var(--accent-color);
}

.education-card p {
  margin: 0.5rem 0 0;
}

/* New styles for the publication cards */
.publication-card {
  display: block;
  background-color: var(--resume-background-color);
  color: var(--text-color);
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

.publication-card:hover {
  background-color: #394867;
  /* Slightly lighter than --background-color for hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.publication-card h3 {
  color: var(--accent-color);
  margin: 0;
}

.publication-card p {
  margin: 0.5rem 0 0;
}
