@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: transform 1s ease-in-out;
}

.splash-screen.exit {
  transform: rotate(360deg) scale(0);
  filter: blur(10px);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.splash-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.splash-circle img {
  width: 100%;
  height: auto;
}

.signature {
  font-family: 'Shadows Into Light', 'Brush Script MT', cursive; /* Use the loaded font */
  font-size: 6em; /* Increase the font size */
  line-height: 0; /* Adjust to match the text height */
  color: var(--accent-color);
  white-space: nowrap;
  overflow: hidden;
  max-width: 0; /* Start with zero width */
  animation: expand 2s ease-in-out forwards; /* Add animation */
}

@keyframes expand {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
